# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List some of the commonly used libraries used by Data Scientists
+ Create a table using markdown in Jupyter Notebooks
+ Execute mathematical operations using code in Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikitlearn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Apache Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4) +5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
D Morgan